<div class="container">
  <h3>Payment Form</h3>
  <br><br><br>
  <!-- Name -->
  <div class="row mb-5">
    <div class="form-group col">
      <label>Payee Name</label>
      <input class="form-control"  type="text" (input)="onNameChange($event)" >
    </div>

    <div class="col">
      <label>Name </label>
      <div> {{name | titlecase}} </div>
    </div>
  </div>

  <!-- Date -->
  <div class="row mb-5">
    <div class="form-group col">
      <label>Date</label>
      <input class="form-control" type="date"  (input)="onDateChange($event)" >
    </div>

    <div class="col">
      <label>Date </label>
      <div> {{date | date : "MMMM d,yyyy"}} </div>
    </div>
  </div>

  <!-- Amount -->
  <div class="row mb-5">
    <div class="form-group col">
      <label>Amount</label>
      <input class="form-control" (input)="onAmountChange($event)" >
    </div>

    <div class="col">
      <label>Amount </label>
      <div> {{amount | currency: "CAD"}} </div>
    </div>
  </div>
  
  <!-- Height -->
  <div class="row mb-5">
    <div class="form-group col">
      <label>Height</label>
      <input class="form-control" (input)="onHeightChange($event)" >
    </div>

    <div class="col">
      <label>Height </label>
      <div> {{height | number:"9.0-3"}} </div>
    </div>
  </div>
  
  <!-- Miles -->
  <div class="row mb-5 justify-content-space-between">
    <div class="form-group col-md-3">
      <label>From Miles</label>
      <input class="form-control" (input)="onMilesChange($event)" >
    </div>

    <div class="col-md-3">
      <label> To </label>
      <select 
        class="form-control"
        name="to"
        id="to"
        [(ngModel)]="selectedUnit"
      >
        <option *ngFor="let unit of targetUnits; let i=index;">
          {{ unit }}
        </option>
      </select>
    </div>

    <div class="col-md-3">
      <label>Result</label>
      <div *ngIf="selectedUnit==='kilometers'">
        <div> {{miles | distanceConverter: 'km' | number :'1.0-3'}} </div>
      </div>
      <div *ngIf="selectedUnit==='meters'">
        <div> {{miles | distanceConverter: 'm'}} </div>
      </div>
      <div *ngIf="selectedUnit==='centimeters'">
        <div> {{miles | distanceConverter: 'c'}} </div>
      </div>
      
    </div>
  </div>
</div>



